/*font family: PT Sans, Almarai*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  display: grid;
  justify-content: center;
  min-width: 300px;
  margin: 2.5em 2.5em 2.5em 2.5em;
  background-color: #94A684;
}

body > nav{
  /*display: inline-flex;*/  /* this will affect the media queries for the menue nav links*/
  padding: 1em 1em 1em 1em;
  /*justify-content: center;*/
  background-color: #263A29;  
}

body > ul{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: inline-flex;
  justify-content: center;
}

body > li{
  flex-direction: column;
}

h1, h2, h3, h4, h5 {
  font-family: PT Sans;
  font-weight: bold;
  color: #1C315E;
  ;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 37px;
}

h3 {
  font-size: 30px;
}

h4{
  font-size: 25px;
}

h5{
  font-size: 20px;
}

p {
  font-family: Almarai;
  font-weight: bold;
  font-size: 15px;
  color: #263A29;
  /*color: #675D50;*/
}

img{
  max-width: 300px;
  min-width: 50px;
  height: auto;
}

header{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 1em 1em 1em 1em;
  background-color: #E9EFC0;
  /*
  background-color: #557A46;
  */
}

ul, li, a {
  font-family: Almarai;
  font-weight: bold;
  font-size: 18px;
  /*color: #FFEEF4;*/
  /*color: #FFE5E5;  */
  color: #F2E3DB;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hover{
  color: #A25B5B;
}

main {
  min-width: 300px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

main > h2 {
  display: flex;
  justify-content: center;
  padding: 1em 1em 1em 1em;
  margin: 0 0 0 0;
}

footer{
  /*display: grid;
  grid-template-columns: auto;
  justify-content: center;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#copyright {
  display: flex;
  flex-wrap: wrap;  
}



.card {  
  grid-column: 1/2;
  border: solid;
  border-width: 5px;
  border-color: #A25B5B;
}


.card > h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9EFC0;
  padding: 15px 15px 15px 15px;
  margin: 0 0 0 0;
  }

.card > p{
  display: flex;
  justify-content: space-evenly;
  padding: 1em 1em 1em 1em;
  margin: 0 0 0 0;
}

.card > ul > li > a {
  color: #263a29;
}

@media (min-width: 800px){
  #menu {
    display: none;
  }
}

/*@media (min-width:)*/
#menu{
  font-size: 1.3rem;
  border:#A25B5B;
  background-color: #E9EFC0;
  color:#1C315E;
  position: absolute;
  top: 1rem;
  right:1rem;
}

#menu::before {
  content: "🍔";
}

#menu.open::before {
  content: "❌";
}

.open li {
  display: block;
  width: 100%;
}

.open li a {
  display: block;
}

.active::before{
  color:#A25B5B;
}