@media screen and (min-width: 800px){
    h1{
        color: blueviolet;
    }

    body > nav {
        height: 20px;
        /*display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;*/
    }

    body > nav > ul {
        display: flex;
        flex-direction: row;
    }
}